//font-family
$ff-main: 'Raleway', sans-serif;
$ff-logo: 'Ubuntu', sans-serif;

//font-size
$fz-reg-title: 64px;
$fz-title: 48px;
$fz-logo: 40px;
$fz-subtitle: 32px;
$fz-main: 20px;
$fz-input: 16px;

//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

//text-color
$tc-main: #ffffff;
$tc-hover: #01509a;
