@use '../../styles/typography' as t;
@use '../../styles/variables' as v;

.header {
  width: 100%;
  height: 50px;
  .container {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-size: t.$fz-logo;
  font-weight: t.$fw-bold;
  font-family: t.$ff-logo;
  &:hover {
    color: v.$c-accent;
    cursor: pointer;
  }
}

.sign_up_link {
  font-weight: t.$fw-bold;
  &:hover {
    color: v.$c-accent;
    cursor: pointer;
  }
}
